.header-title{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    font-family: 'Kanit', sans-serif;
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    vertical-align: center;
    margin: 0 15%;
}

.individual-element-button{
    font-family: 'Kanit', sans-serif;
    background: #0275d8;
    color: #fff;
    font-size: 1rem;
    width: 60%;
    height: 55px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: color 0.4s linear;  
    box-shadow: 0 8px 2px -2px #3A94E1;
  
}

.individual-element-button:hover{
    background: #01539A;
}


.individual-element-button:active{
    background: #00325C;
}


.github-icon-svg{
    margin-right: 5px;
    width: 20%;
}


