.childContainer{
    margin-top: 2%;
    border: 2px solid #1976d2;
    border-radius: 5px;
    padding: 2%;
    font-family: 'Kanit', sans-serif;
}


.communicationType{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top: 2%;
}