<div class="parent-container">
    <h3>PARENT</h3>
    <h5>message received from child: {{ receivedMessageFromChild  }}</h5>

    <div class="communication-type">
        <button (click)="onClickSendMessageToChildService()" class="btn btn-primary">Use Service</button>
        <button (click)="onClickSendMessageToChildInputOutput()" class="btn btn-primary">
            Use Input Property
        </button>
        <button (click)="onClickSendObservableToChild()" class="btn btn-primary">Use Observables</button>
    </div>

    <div>
    <app-child
        [receivedMessage]="receivedMessage"
        (messageToParent)="receiveMessageFromChild($event)">
    </app-child>
    </div>
</div>
