<div class="parent-container">
    <h3>PARENT</h3>
    <h5>message received from child: {{ messageReceivedUsingOutput }}</h5>

    <div class="communication-type">
        <button (click)="receiveMessageFromChildUsingService()" class="btn btn-primary">Use Service</button>
        <button (click)="sendMessageUsingInput()" class="btn btn-primary">
            Use Input Property
        </button>
        <button class="btn btn-primary">Use Observables</button>
    </div>

    <div>
    <app-child
        [messageToParent]="messageToChild"
        (messageToParentUsingOutput)="receiveMessageFromChildUsingOutput($event)">
    </app-child>
    </div>
</div>
