/*display hide component style*/
.title-component{
    margin-top: 5%;
    text-align: center;
    color: #0275d8;
    font-family: 'Kanit', sans-serif;
}

.greeting{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    font-family: 'Kanit', sans-serif;
}

.display-hide-button {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    background: #dd1b16; /* color de fondo */
    color: #fff; /* color de fuente */
    padding: 16px 20px;
    border-radius: 10px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    font-size: 1.5rem;
}

.display-hide-button:hover, .display-hide-button:focus {
    color: #fff;/* color de fuente hover */
    font-family: 'Kanit', sans-serif;
}

.display-hide-button:after{
    font-family: 'Kanit', sans-serif;
    content: "";
    background: #0275d8; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0);
    transition: all 0.3s ease;
}

.display-hide-button:hover:after {
    transition: all 0.3s ease-out;
    transform: scale(1, 1);
}

.discover{
    display: flex;
    justify-content: center;
    align-items: center;    
}

/*animated CSS*/
.animate__animated{
    margin-top: 2%;
    color: #1976d2;
    font-family: 'Kanit', sans-serif;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;    
}