/*display hide component style*/
h5{
    margin-top: 2%;
    text-align: center;
    color: #1976d2;
}

.greeting{
    text-align: center;
}

button {
    text-align: center;
    background: #dd1b16; /* color de fondo */
    color: #fff; /* color de fuente */
    border: 3px solid #a6120d; /* tamaño y color de borde */
    padding: 16px 20px;
    border-radius: 10px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    font-size: 1.5rem;
}

button:hover, .button:focus {
    color: #fff;/* color de fuente hover */
    border: 3px solid #186bbe;
}

button:after{
    content: "";
    background: #1976d2; /* color de fondo hover */
    border: 3px solid #186bbe; /* tamaño y color de borde */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0);
    transition: all 0.3s ease;
}

button:hover:after {
    transition: all 0.3s ease-out;
    transform: scale(1, 1);
    border: 3px solid #1976d2; /* tamaño y color de borde */
}

.discover{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    
}

.messageForYou{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}