<div class="row">
    <div class="col">
        <app-searchbox
            (onDebounce)="searchByMovie($event)"
            [initialValue]="initialValue"
            placeholder="Search"
            >
        </app-searchbox>
    </div>
</div>

<div class="results">
    <ul>
        <li *ngIf="movies.length > 0">
            <p *ngFor="let movie of movies">
                {{ movie.title}} - Release {{ movie.release_date }}
            </p>
        </li>   
    </ul>

    <div *ngIf="movies.length === 0 ">
        No results found with the search terms
    </div>
</div>
<!-- <pre>
    {{ movies | json }}
</pre> -->