<!-- <div class="search-form-input-style"> 
    <form class="form-inline form-search-style  my-2 my-lg-0">
        <input 
            type="text" 
            [(ngModel)]="searchInput" 
            name="searchInput"
            (keyup)="onSearchActors()" 
            placeholder="Search...">
    </form>
</div>

<div class="results">
    <p>
        Results found in {{title}}:
    </p>
</div>
<div class="results">
    <div *ngIf="searchResults.length > 0">
        <ul>
            <li *ngFor="let actor of actors">
                {{ actor.name }}
            </li>
        </ul>
    </div>
    
    <div *ngIf="searchInput && searchResults.length === 0">
        No results found with the search terms
    </div>
</div> -->