<div >
    <div class="input-group input-group-sm mb-3 searchbox-container">
        <app-searchbox 
            (onDebounce)="searchByActor($event)"
            [initialValue]="initialValue"
            placeholder="Search"
            >
        </app-searchbox>
    </div>
</div>

<div class="results" *ngIf="actors.length > 0">
    <div class="card" style="width: 18rem;" *ngFor="let actor of actors">
        <div class="card-body">
            <h5 class="card-title card-title-style" >{{ actor.name }} </h5>
            <p>Popularity: {{ actor.popularity }}</p>            
        </div>
    </div>
</div>

<div *ngIf="actors.length === 0 ">
    No results found with the search terms
</div>