

.counter-buttons-container{
    margin-top: 10%;

}


.counter-up-down-container{
    margin-top: 10%;
}


.set-to-container{
    margin-top: 10%;
}

.input-set {
    color: #01539A;
}

.step-container{
    margin-top: 10%;
}

.input-step-number{
    color: #01539A;
}