.title-menu{
    color: white !important;
    border: 2PX solid RED;
}
.search-menu{
    background-color: #0275d8 !important;
    font-family: 'Kanit', sans-serif;
    border-radius: 10px;
    padding-left: 2%;
    padding-right: 2%;
    display: flex !important;
    justify-content: space-around;

}

.nav-link{
    color: white !important;
    font-size: 1.5rem;
}

.nav-link:hover,.nav-link:active, .nav-link::after{
    color: #01539A;
}

.search-container{
    display: flex !important;
    justify-content: space-between;
    border: 2px solid red;
}

.search-input{
    border: 2px solid #01539A;
}

.search-button{
    background: #01539A;
    color: white;
}
