.swal2-popup {
    font-size: 1.6rem !important;
    font-family: 'Kanit', sans-serif;
}

.swal2-title {
    font-family: 'Kanit', sans-serif;
}

h2#swal2-title{
    font-size: 24px;
    font-family:'Lexend';
    color:theme('colors.metal');
}

div#swal2-html-container{
    font-size: 16px;
    font-family:'Heebo';
    color: theme('colors.metal');
}