/*Navbar style*/
.navbar-style {
    font-family: 'Kanit', sans-serif;
    color: white !important;
}

.toolbar{
    background-color: #1976d2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.logo-img {
    margin: 0 5%;
    width: 100px;
    
}