.navbar-style {
    font-family: 'Kanit', sans-serif;
    color: white !important;
    font-size: 1.3rem;
}

.toolbar{
    background-color: #0275d8;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: 0 8px 2px -2px #3A94E1;
}

.logo-img {
    margin: 0 5%;
    width: 100px;    
}


