.header-title{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    font-family: 'Kanit', sans-serif;
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    vertical-align: center;
    margin: 0 15%;
}

.individual-element-button{
    font-family: 'Kanit', sans-serif;
    background: #1976d2;
    color: #fff;
    font-size: 14px;
    width: 60%;
    height: 55px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: color 0.4s linear;    
}

.individual-element-button:hover{
    background: grey;
}


.individual-element-button:active{
    background: black;
}


.github-icon-svg{
    margin-right: 5px;
}



