.title-component{
    margin-top: 5%;
    text-align: center;
    color: #0275d8;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
}

.form-list-container{
    display: flex;
    border: 2px solid #0275d8;
    border-radius: 5px;
    padding: 2% 4%;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 1%;
}

.form-button{
    margin-top:5%
}