.table-title{
    color: #0275d8;
    font-family: 'Kanit', sans-serif;
}

.table-style{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.register-table{
    color: #0275d8;
    font-family: 'Kanit', sans-serif;
}

.action-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around !important;
}

/*SWEET ALERT STYLES customized*/
.swal2-popup {
    font-size: 1.6rem !important;
    font-family: 'Kanit', sans-serif;
}

.swal2-title {
    font-family: 'Kanit', sans-serif;
}

h2#swal2-title{
    font-size: 24px;
    color:theme('colors.metal');
}

div#swal2-html-container{
    font-size: 16px;
    color: theme('colors.metal');
}