<div >
    <div class="input-group input-group-sm mb-3 searchbox-container">
        <app-searchbox 
            (onDebounce)="searchByDirector($event)"
            [initialValue]="initialValue"
            placeholder="Search"
            >
        </app-searchbox>
    </div>
</div>

<div class="results" *ngIf="directors.length > 0">
    <div class="card" style="width: 18rem;" *ngFor="let director of directors">
        <div class="card-body">
            <h5 class="card-title card-title-style" >{{ director.name }} </h5>
            <p>Films: </p>            
        </div>
    </div>
</div>