<div >
    <div class="input-group input-group-sm mb-3 searchbox-container">
        <app-searchbox 
            (onDebounce)="searchByDirector($event)"
            [initialValue]="initialValue"
            placeholder="Search"
            >
        </app-searchbox>
    </div>
</div>

<div class="results" *ngIf="directors.length > 0">
    <div class="card mb-3" style="width: 18rem;" *ngFor="let director of directors">
        <div class="card-body card-style">
            <h5 class="card-title card-title-style" >{{ director.name }} </h5>
            <h6 class="card-title-style">Popularity: {{ director.popularity}} </h6>   
            <img *ngIf="director.profile_path" class="image-card-style" src="https://image.tmdb.org/t/p/w154{{ director.profile_path }}" alt="{{ director.name }} Poster">
            <img *ngIf="!director.profile_path" class="no-profile" src="https://cdn-icons-png.flaticon.com/512/1104/1104294.png?w=826&t=st=1691566687~exp=1691567287~hmac=13d4200b521d14199954b08c4e0c38115639a37a7f8d42be62fb43283692dc31" alt="No Photo Available">
        </div>
    </div>
</div>